#textbar ::placeholder {
    color: rgb(110, 118, 125);
    font-size: 15px;
}


.wd-600px-width {
    max-width: 600px;
}

.wd-one-z-index {
    z-index: 1;
}

.wd-border-right-1px {
    border-right-width: 1px;
}

.wd-border-left-1px {
    border-left-width: 1px;
}

.wd-content-width {
    width: 36%;
}

.wd-100p-width {
    width: 100%;
}

.wd-main-background {
    background-color: rgb(0, 0, 0);
}

.wd-foreground-light-grey {
    color: rgb(110, 118, 125);
}

.wd-foreground-light {
    color: rgb(239, 243, 244);
}

.wd-search-placeholder-font {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.wd-background-black-grey {
    background-color: #202327;
}

.wd-search-text-input-padding {
    padding-top: 14px;
}

.wd-content-container-padding {
    padding-top: 4px;
}

.wd-search-icon-font {
    font-size: 30px;
}

.wd-rounded-corners-all-around {
    border-radius: 30px;
}


.wd-float-done {
    clear: both;
}


.wd-grid-col-10p-page {
    width: 10%;
    float: left;
}

.wd-grid-col-10p-page-right {
    width: 10%;
    float: right;
}

.wd-grid-col-80p-page {
    width: 80%;
    float: left;
}

.wd-grid-col-90p-page {
    width: 90%;
    float: left;
}

.wd-12px-margin-left {
    margin-left: 12px;
}

.wd-12px-margin-right {
    margin-right: 12px;
}

.wd-4px-margin-top {
    margin-top: 5px;
}

.wd-position-relative {
    position: relative;
}

.wd-search-icon-position {
    position: relative;
    bottom: 4px;
    left: 40%;
}


.wd-zero-border-width {
    border-width: 0px;
}

.wd-gear-position {
    width: 29px;
    height: 29px;
    font-size: 1.5em;
    padding-top: 3px;
    padding-left: 20px;
}